
.container{
    margin-top: -100px;
    width: 620px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    border-radius:15px;
    width: 100px;
    height: 80px;
    transition: 0.5s;
}


.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(40px);
}

.container .card:hover .face.face1{
    transform: translateY(0);
}

.container .card:hover #ig{
  background:var(--on-ig);
}
.container .card:hover #twitter{
  background:var(--on-twitter);
}
.container .card:hover #cv{
  background: var(--on-nav);
}
.container .card:hover #linkedin{
  background: var(--on-linked-in);
}
.container .card:hover #github{
  background: var(--on-github);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 0 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-40px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 0 0 0;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: xx-large;
    display:  inline-block;
    text-decoration: none;
    font-weight: 800;
    color: var(--primary-color);
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333;
}

.container .card .face.face2 .content #goig:hover{
    color:var(--on-ig);
}
.container .card .face.face2 .content #gotwitter:hover{
  color: var(--on-twitter);
}
.container .card .face.face2 .content #gocv:hover{
  color: var(--on-nav);
}
.container .card .face.face2 .content #golinkedin:hover{
  color: var(--on-linked-in);
}
.container .card .face.face2 .content #gogithub:hover{
  color: var(--on-github);
}



@media screen and (max-width:1000px) {

  .container{
    margin-top: -50px;
    width: 300px;
}
  .container .card .face{
    width: 50px;
    height: 60px;
  }

  .container .card .face.face1{
    transform: translateY(30px);
}

.container .card .face.face1 .content h3{
  font-size: 1em;
}

.container .card .face.face2{
  padding: 15px;
  transform: translateY(-30px);
}

  
}