.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .sliderimg{
    width: 300px;
    height: 617px;
    object-fit: cover
  }


  #home {
    background-image: url("../images/butterfly.png");
  }

  #art {
    background-image: url("../images/art.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
 
  #music {
    background-image: url("../images/music.png");
  }
  
  
  h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    margin-bottom: 0;
  }

  .artH1 {
    font-size: 55px;
  }
  
  small {
    font-size: 32px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: normal;
  }
  
  .title-group {
    text-align: center;
    margin-bottom: 1cm;
    justify-content: center;
  }
  
  
  .fab {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer;
    color: var(--primary-color);
  }
  
  

  .first-text {
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Kaushan Script', cursive;
  }

  


  
  @media all and (max-width:30em){
     .resume{
      display: block;
      margin: 0.4em auto;
    }
    }