@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Cutive+Mono&family=Kaushan+Script&family=Nanum+Gothic+Coding:wght@700&display=swap');

:root {
  --primary-color: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-ig: #C13584;
  --on-linked-in:#2867B2 ;
  --on-github: #6e5494;
  --on-nav: #205666;
  --on-twitter:#00acee;
  --background: #18191A;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  background-color: var(--background);
  background-image: radial-gradient(circle,var(--on-background) 0%,var(--background) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.8;
  color: var(--primary-color);
}





