nav {
	margin-top: 27px;
	position: fixed;
	width: 200px;
	height: 50px;
	background-color: #18191A;
	border-radius: 15px;
	font-size: 0;
	z-index:2;
}
nav .nava {
	line-height: 50px;
	height: 100%;
    font-family: 'Nanum Gothic Coding', monospace;
	font-size: 20px;
	display: inline-block;
	position: relative;
	z-index: 2;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 15px;
}
.nava:nth-child(1) {
	width: 100px;
}
.nava:nth-child(2) {
	width: 100px;
}
nav .start-home, .nava:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: var(--on-nav);
}
nav .start-memories, .nava:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: var(--on-nav);
}